section {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
 }

 p {
    color: red;
    text-align: center;
  }
  h1 {
    text-align: center;
    color: red;
  }
  
  h2 {
    text-align: center;
    color: red;
  }